<div class="container">
  <div>
    Area: Economy
    Problems: Inequality 

    Sources: 

    Horisons:

  </div>
</div>

<div class="tweets">
  <a class="twitter-timeline" href="https://twitter.com/VoyagerPod?ref_src=twsrc%5Etfw">Tweets by VoyagerPod</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>