<div class="container">
  <div>
    Area: Economy
    Problems: Inequality 

    Sources: 

    Horisons:

      <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.description %></td>
        <td><%= link_to project.website, project.website, target: "_blank" %></td>
        <td><%= project.start_date %></td>
      </tr>
    <% end %>
  </div>
</div>

<div class="tweets">
  <a class="twitter-timeline" href="https://twitter.com/VoyagerPod?ref_src=twsrc%5Etfw">Tweets by VoyagerPod</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>